body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    background-color: #686868;
}

h1 {
    text-align: center;
    color: white;
}

.marghs {
    margin: 10px 10px;
}

.alineacionH1 {
    margin-block: 10px 10px;
    text-align: left;
}

.alineacionH2 {
    margin-block: 10px 10px;
    text-align: left;
    color: #FFFFFF;
}

.alineacionBtn {
    margin-block: 10px 10px;
    text-align: center;
    color: #FFFFFF;
}

h2, i {
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 5px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

small {
    font-size: 25px;
}

.center-icon {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.container {
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #707070;
    color: #999999;
}

.background {
    color: #999999;
    background: url(../assets/wall1.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.principal {
    margin-top: 2px;
    margin-bottom: 2px;
}

.chat-content {
    height: 396.67px;
}

iframe {
    border-radius: 10px 10px;
    height: 100%;
}

.sec-1 {
    height: 470px;
    width: 300px;
    background-color: #f96699;
    border-radius: 15px;
    margin: 50px;
}

.sec-2 {
    height: 470px; 
    width: 300px;
    background-color: #38CCCC;
    border-radius: 15px;
    margin: 50px;
}

.footer-1{
    background-color: #212529;
    color: #999999;
    text-align: center;
    margin-top: 10px;
}
