body {
    margin-bottom: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    background-image:url('https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

h1 {
    text-align: center;
    color: white;
}

.alineacionH1 {
    margin-block: 10px 10px;
    text-align: left;
}

h2, i {
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 5px;
}

p {

    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    
}

small {
    font-size: 25px;
}

.center-icon {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.container {

    border-width: 25px 10px 4px 35px;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-image:url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.container1 {
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #707070;
}

.principal {
    margin-top: 2px;
    margin-bottom: 2px;
}

.chat-content {
    height: 396.67px;
}

iframe {
    border-radius: 10px 10px;
    height: 100%;
}

.sec-1 {
    height: 470px;
    width: 300px;
    background-color: #f96699;
    border-radius: 15px;
    margin: 50px;
}

.sec-2 {
    height: 470px; 
    width: 300px;
    background-color: #38CCCC;
    border-radius: 15px;
    margin: 50px;
}

.footer-1{
   
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    

    background-color: #212529;
    color: #999999;
    text-align: center;
    margin-top: 10px;
}
html {
  min-height: 100%;
  position: relative;
}
